div {
    width: 100px;
    border: 1px solid rgb(18, 197, 57);
    text-align: center;
}
.items{
    margin-left: 5px;
    margin-top: 5px; 
    position: relative;
 }
.dd_list {
    display: none;
    position: absolute;
    left: 105px;
    top: 0;
    border: 0;
    padding:0;
}
.items:hover {
    background-color: rgb(211, 208, 36)43);
}
.items:hover > .dd_list:nth-child(n) {

    display: block;
}